:host {
  width: calc(100% + var(--prefer-sides-padding) * 2);
  position: relative;
  right: var(--prefer-sides-padding);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  overflow-y: hidden;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  display: flex;
}

.slides {
  margin: 0;
  padding: 0 0 1rem;
  height: 100%;
  position: relative;
  display: flex;
  gap: 5%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  grid-area: 1 / 1 / 4 ;
  box-sizing: content-box;
}

::slotted(li) {
  padding: 0 0 2rem;
  scroll-snap-align: center;
  width: 70%;
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
}

::slotted(:first-child) {
  margin-left: 20%;
}

::slotted(:last-child) {
  margin-right: 20%;
}

.ctrl {
  justify-content: space-between;
  grid-area: 2 / 1;
}

.btn {
  width: 3.5em;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: 2px solid currentColor;
  cursor: pointer;
  z-index: 1;
}


.btn-prev, .btn-next, .btn-slide {
  width: 3.5em;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: 2px solid currentColor;
  cursor: pointer;
  z-index: 1;
}

.btn-slide {
  transition: background-color .2s linear;
}

.btn-slide[disabled] {
  color: inherit;
  background-color: currentColor;
  cursor: default;
  opacity: 1;
}

/* .btn_active {
  background-color: currentColor;
} */

.nav {
  grid-area: 3 / 1;
  align-items: flex-end;
  gap: 2rem;
  justify-content: center;
}

