:host {
  font-size: inherit;
  width: calc(100% + var(--prefer-sides-padding)* 2);
  margin-left: calc(var(--prefer-sides-padding)* -1);
  display: grid;
  overflow-y: hidden;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  grid-area: 1 / 1 / 2 / 2;
}

li {
  display: flex;
}

button {
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  z-index: 1;
}

.slides {
  margin: 0;
  padding: 0 0 1rem;
  height: 100%;
  position: relative;
  display: flex;
  gap: 5%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: content-box;
}

::slotted(li) {
  padding: 0 0 2rem;
  scroll-snap-align: center;
  width: 70%;
  min-width: 17rem;
  flex-shrink: 0;
  align-items: stretch;
}

::slotted(:first-child) {
  margin-left: 15%;
}

::slotted(:last-child) {
  margin-right: 15%;
}

.ctrl {
  justify-content: space-between;
  overflow: hidden;

  & > li {
    width: 15%;
  }
}

.btn-prev, .btn-next {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #000, transparent);
  border: none;
  scale: 105%;

  &::before {
    content: '';
    width: 40%;
    aspect-ratio: 1;
    border-top: .3em solid #fff;
    border-right: .3em solid #fff;
    opacity: .3;
    transition: opacity .2s linear;
    transform: rotate(225deg);
  }

  &:hover::before {
    opacity: 1;
  }
}

.btn-next {
  background: linear-gradient(to left, #000, transparent);

  &::before {
    transform: rotate(45deg);
  }
}

.btn-slide {
  width: 1.5em;
  aspect-ratio: 1 / 1;
  background-color: currentColor;
  opacity: .2;
  border: 2px solid currentColor;
  border-radius: 9999px;
  transition: opacity .2s linear;
}

.btn-slide[disabled] {
  color: inherit;
  cursor: default;
  opacity: 1;
}

/* .btn_active {
  background-color: currentColor;
} */

.nav {
  --element-width-percent: calc(100% / attr(data-count type(<number>)));
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  justify-self: center;
  gap: .5em;
}

