@import url('./animations.css');

@property --min-width-rem {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --max-width-rem {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --full-width-vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

:root {
  --color-text-a: #f9f9f9;
  --color-background-a: rgb(0, 0, 0);
  --color-background-b: rgba(0, 0, 0, .6);
  --color-background-c: #111;
  --color-accent-b: red;
  --letter-spacing-a: .4ch;
  --ul-list-style-a: disc;
  --header-height: 64px;
  --transition-a: .2s ease-in;
  --drop-shadow-a: drop-shadow(0 0 .5em);
  --section-padding: 24px;

  --min-width-rem: 20rem;
  --max-width-rem: 90rem;
  --full-width-vw: 100vw;
  --min-width-num: 10000 * tan(atan2(var(--min-width-rem), 10000px));
  --max-width-num: 10000 * tan(atan2(var(--max-width-rem), 10000px));
  --full-width-num: 10000 * tan(atan2(var(--full-width-vw), 10000px));

  --screen-calc: (var(--full-width-num) - var(--min-width-num)) / (var(--max-width-num) - var(--min-width-num));
  --multiplier-1_25: clamp(1, 1 + .25 * var(--screen-calc), 1.25);
  --multiplier-1_5: clamp(1, 1 + .5 * var(--screen-calc), 1.5);
  --multiplier-2: clamp(1, 1 + 1 * var(--screen-calc), 2);
  --multiplier-3: clamp(1, 1 + 2 * var(--screen-calc), 3);
  --multiplier-4: clamp(1, 1 + 3 * var(--screen-calc), 4);

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 calc(50% - var(--max-width-rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: var(--min-width-rem);
  min-height: 100vh;
  background-color: var(--color-background-a);
  color: var(--color-text-a);
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
  margin: 0;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.hover-opacity {
  opacity: 1;
  transition: opacity var(--transition-a, .2s linear);

  &:hover {
    opacity: .6;
  }
}

.overlay {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-background-b);
    z-index: -1;
  }
}

.text-list {
  margin: 0;
  padding-inline-start: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;

  &:is(ul) {
    list-style-type: disc;
  }

  &:is(ol) > li {
    padding-inline-start: .5em;
  }
}

.grid-column-limiter {
  /**
   * User input values.
   */
  --grid-column-count: 1;
  --grid-column-min-width: 10rem;
  --grid-column-gap: 2rem;

  /**
   * Calculated values.
   */
  --total-gap-width: calc((var(--grid-column-count) - 1) * var(--grid-column-gap));
  --grid-column-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-column-min-width), var(--grid-column-max-width)), 1fr));
  grid-gap: var(--grid-column-gap);
}

/* block 'header' */

.header {
  --_transition: var(--transition-a, .2s linear);
  --_accent-color: var(--color-accent-b, red);

  display: flex;
  margin: .5em;
  padding: 0 .5em;
  font-size: calc(1rem * var(--multiplier-1_25, 1));
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--color-background-b, #000);
  border-radius: 1.5em;
  backdrop-filter: blur(8px);
  z-index: 3;
  transition:
    height var(--_transition),
    width var(--_transition);

  @media (width <= 640px) {
    width: 3em;
    height: 3em;
    padding: 0;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }
}

.header_extended {
  @media (width <= 640px) {
    width: fit-content;
    height: fit-content;
    padding: 1.5em 1.5em 3em;

    & .header__navigation {
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__navigation {
  display: flex;
  justify-content: center;
  flex: 1;
  transition:
  opacity var(--_transition),
  color var(--_transition);

  @media (width <= 640px) {
    opacity: 0;
    visibility: hidden;
  }
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: .5em;

  & li {
    display: flex;
  }

  @media (width <= 640px) {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

.header__link {
  padding: .5em;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: currentColor;
  text-transform: lowercase;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 40%;
    right: 40%;
    color: var(--_accent-color);
    z-index: -1;
  }

  &::before {
    bottom: -.3em;
    left: 40%;
    right: 40%;
    box-shadow: 0 0 1em 0 currentColor;
    transition: box-shadow var(--_transition);
  }

  &::after {
    bottom: 0;
    height: .2em;
    border-radius: .2em .2em 0 0;
    background-color: currentColor;
    opacity: .5;
    transform: scale(0);
    transition: transform var(--_transition);
  }
}

.header__link_active {
  &::before {
    box-shadow: 0 0 1em .5em currentColor;
  }

  &::after {
    transform: scale(1);
  }
}

.header__burger {
  --_line-width: 3px;

  font-size: inherit;
  display: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    width: 50%;
    height: var(--_line-width);
    background-color: var(--color-text-a);
    transition: 0.4s;
  }

  @media (width <= 640px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: gap var(--_transition);
  }
}

&.header__burger_opened {
  gap: 0;

  &::before {
    transform: translateY(var(--_line-width)) rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 20vh;
}

/* block 'section' */

.section {
  --prefer-sides-padding: calc(1rem * var(--multiplier-4));
  --_list-rows: auto;
  --_list-columns: auto;
  --_letter-spacing: var(--letter-spacing-a, 0);

  min-height: 100vh;
  min-height: 100dvh;
  margin: auto;
  padding: 0 var(--prefer-sides-padding);
  font-size: calc(1rem * var(--multiplier-1_25));
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20vh;
}

.section_sticky-title {
  display: grid;
  grid-template-columns: min-content 1fr;

  & > * {
    grid-column-start: 2;
  }

  & > .section__title {
    position: sticky;
    top: 10vh;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-right: var(--prefer-sides-padding);
    line-height: 1;
    writing-mode: sideways-lr;
    text-transform: uppercase;
    word-spacing: .5em;
    z-index: 2;
    grid-column-start: 1;
    letter-spacing: var(--_letter-spacing);
  }
}

.section_name_cover {
  padding: 0;
  display: flex;
  flex-flow: row wrap-reverse;

  & .section__flex-item {
    flex: 1 0 50%;
    min-width: 20rem;
    min-height: 100vh;
    min-height: 100dvb;
  }

  & .section__text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  }
}

.section_name_about {

}

.section_name_courses {
  --_list-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.section_name_program {

}

.section_name_teachers {

}

.section_name_pricing {
  --_list-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.section__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: var(--_list-rows) / var(--_list-columns);
  gap: 20vh var(--prefer-sides-padding, 1.5em);
}

.section__title {
  margin-bottom: var(--prefer-sides-padding);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
  text-wrap-style: pretty;
}

.section__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section__image_portrait {
  aspect-ratio: 2 / 3;
}

.section__image_landscape {
  aspect-ratio: 3 / 2;
}

.content-block {
  --_flex-flow: row wrap-reverse;
  --_image-set-padding: 0 0 0 10%;
  --_image-set-after-inset: 10% 30% 10% 0;
  --_text-row-gap: 1lh;
  --_letter-spacing: var(--letter-spacing-a, 0);

  min-height: 100vh;
  min-height: 100dvb;
  display: flex;
  flex-flow: var(--_flex-flow);
  align-items: center;
  align-content: center;
  gap: var(--prefer-sides-padding)
}

.content-block_reversed {
  --_flex-flow: row-reverse wrap-reverse;
  --_image-set-padding: 0 10% 0 0;
  --_image-set-after-inset: 10% 0 10% 30%;
}

.content-block__text {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--_text-row-gap);
  flex: 3 1 20rem;
  text-wrap-style: balance;
}

.content-block__article {
  display: flex;
  flex-direction: column;
  row-gap: var(--_text-row-gap);

  &:not(:last-of-type) {
    margin-bottom: var(--_text-row-gap);
  }
}

.content-block__title {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--_letter-spacing);
}

/* .content-block__list {
  margin: 0;
  padding-inline-start: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;

  &:is(ol) > li {
    padding-inline-start: .5em;
  }
} */

.content-block__image-set {
  max-width: 36rem;
  height: max-content;
  padding: var(--_image-set-padding);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1lh;
  position: relative;
  flex: 2 1 20rem;

  &::after {
    content: '';
    position: absolute;
    inset: var(--_image-set-after-inset);
    border: 1px solid #fff;
    border-radius: 2rem;
  }
}

.logo {
  --_letter-spacing: var(--letter-spacing-a, 0);

  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__title {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5em;
  line-height: 2em;
}

.logo__title_with-border {
  border: 1px solid currentColor;
  border-radius: 2rem;
}

.logo__title-accent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1ch;
  letter-spacing: var(--_letter-spacing);
  font-size: .5em;
  line-height: 1;

  &::before,
  &::after {
    content: '';
    width: 2ch;
    height: 1px;
    background-color: currentColor;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &::before {
    margin-right: var(--_letter-spacing);
  }
}

.logo__subtitle {
  font-size: 1em;
  letter-spacing: var(--_letter-spacing);
}

.address {
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 2em;
  border: 1px solid currentColor;
  border-radius: 1em;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.address__text,
.address__links {
  display: flex;
  flex-direction: column;
}

.address__text {
  text-align: end;
  margin-left: auto;
}

.address__item {
  width: max-content;
}

.address__item_align-right {
  margin-left: auto;
}

.accordion {
  --_gap: 1.5em;
  --_transition: var(--transition-a, .2s linear);

  width: min(100%, 30em);
  min-width: 17em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.accordion__title {
  padding: var(--_gap) 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: currentColor;
  font-weight: 600;
  transition:
    opacity var(--_transition),
    padding var(--_transition);

  &::before {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 1px;
    background-color: currentColor;
    transition:
      inset var(--_transition),
      background-color var(--_transition);
  }

  &::after {
    content: '';
    display: inline-block;
    width: .5em;
    height: .5em;
    border-top: .15em solid var(--color-text-a);
    border-right: .15em solid var(--color-text-a);
    rotate: 45deg;
    transition: rotate var(--_transition);
  }

  & input {
    display: none;
  }

  &:has(input:checked) {
    padding: var(--_gap);

    & + .accordion__content {
      display: block;
    }

    &::before {
      background-color: transparent;
      inset: auto var(--_gap) 0;
    }

    &::after {
      rotate: 135deg;
    }
  }

  &:hover {
    opacity: .6;
  }
}

.accordion__content {
  display: none;
  padding: var(--_gap);
  background-color: var(--color-background-c);
  border-radius: var(--_gap);
  z-index: 1;
}

.price-card {
  --_letter-spacing: var(--letter-spacing-a, 0);
  --_ul-list-style: var(--ul-list-style-a, none);

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

.price-card__image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.price-card__text {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 2lh;
  border: 1px solid currentColor;
  border-radius: 1.5em;
  flex-grow: 1;
}

.price-card__title {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: var(--_letter-spacing);
}

/* .price-card__list {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  list-style: var(--_ul-list-style);
  flex-grow: 1;
} */

.price-card__price {
  margin-top: auto;
  text-align: center;
}

.teacher-card {
  --_gap: 1.5em;
  --_avatar-width: 16rem;
  --_text-width: 14em;
  --_letter-spacing: var(--letter-spacing-a, 0);
  --_ul-list-style: var(--ul-list-style-a, none);

  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2lh 15%;
}

.teacher-card_place_dialog {
  max-width: 100%;

  & .teacher-card__avatar {
    margin-top: 0;
  }
}

.teacher-card__avatar {
  width: var(--_avatar-width);
  aspect-ratio: 1;
  object-fit: cover;
}

.teacher-card__about {
  width: 100%;
  min-width: var(--_text-width);
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 1lh;
  flex: 1 1 0;
}

.teacher-card__name {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--_letter-spacing);
}

.teacher-card__text {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1lh;
}

/* .teacher-card__list {
  padding-inline-start: 1em;
  list-style: var(--_ul-list-style);
} */

.axis {
  height: fit-content;
  margin: auto 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: minmax(30ch, 50vh);
  list-style: none;
  overflow-x: scroll;


  & > li {
    min-width: 5lh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
    position: relative;
    left: 100%;

    &::before {
      content: '';
      display: block;
      width: .5em;
      margin-right: .5em;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: currentColor;
    }

    &::after {
      content: '';
      height: 1px;
      position: absolute;
      inset: .25em 0 auto -100%;
      background-color: currentColor;
    }

    & > p {
      transform-origin: top left;
      transform: rotate(25deg);
      text-align: end;
      flex-grow: 1;
      writing-mode: sideways-lr;
    }
  }
}

.footer {
  padding-bottom: var(--prefer-sides-padding);
  gap: var(--prefer-sides-padding);
  justify-content: space-between;
}
