@import url('./animations.css');

@property --min-width-rem {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --max-width-rem {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --full-width-vw {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

:root {
  --color-text-a: #f9f9f9;
  --color-accent-a: rgb(0, 0, 0);
  --color-accent-a1: rgba(24, 28, 18, .6);
  --color-accent-b: #9BC01F;
  --header-height: 64px;
  --transition-a: .2s ease-in;
  --drop-shadow-a: drop-shadow(0 0 .5em);
  --section-padding: 24px;

  --min-width-rem: 20rem;
  --max-width-rem: 90rem;
  --full-width-vw: 100vw;
  --min-width-num: 10000 * tan(atan2(var(--min-width-rem), 10000px));
  --max-width-num: 10000 * tan(atan2(var(--max-width-rem), 10000px));
  --full-width-num: 10000 * tan(atan2(var(--full-width-vw), 10000px));

  --screen-calc: (var(--full-width-num) - var(--min-width-num)) / (var(--max-width-num) - var(--min-width-num));
  --multiplier-1_5: clamp(1, 1 + .5 * var(--screen-calc), 1.5);
  --multiplier-2: clamp(1, 1 + 1 * var(--screen-calc), 2);
  --multiplier-3: clamp(1, 1 + 2 * var(--screen-calc), 3);
  --multiplier-4: clamp(1, 1 + 3 * var(--screen-calc), 4);

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 calc(50% - var(--max-width-rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: var(--min-width-rem);
  min-height: 100vh;
  background-color: var(--color-accent-a);
  color: #f9f9f9;
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
  margin: 0;
  box-sizing: border-box;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.hover-opacity {
  opacity: 1;
  transition: opacity var(--transition-a);
}

.hover-opacity:hover {
  opacity: .6;
}

.overlay {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-accent-a1);
    z-index: -1;
  }
}

.grid-column-limiter {
  /**
   * User input values.
   */
  --grid-column-count: 1;
  --grid-column-min-width: 10rem;
  --grid-column-gap: 2rem;

  /**
   * Calculated values.
   */
  --total-gap-width: calc((var(--grid-column-count) - 1) * var(--grid-column-gap));
  --grid-column-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-column-min-width), var(--grid-column-max-width)), 1fr));
  grid-gap: var(--grid-column-gap);
}

/* block 'header' */

.header {
  height: 48px;
  display: flex;
  margin: 8px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition:
    height .2s linear,
    width .2s linear;

  @media (width <= 640px) {
    width: 48px;
    height: 48px;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: translate(0);

    & *:not(.header__burger) {
      opacity: 0;
      visibility: hidden;
    }

    &.header_extended {
      width: fit-content;
      height: fit-content;
      padding: 48px;

      & *:not(.header__burger) {
        opacity: 1;
        visibility: visible;
        transition: opacity .2s ease-in;
      }
    }
  }
}

.header__navigation {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;

  & li {
    display: flex;
  }

  @media (width <= 640px) {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

.header__link {
  padding: 1em;
  font-family: Inter, Arial;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-a);
  text-transform: uppercase;
  transition: all var(--transition-a);

  &.header__link_active {
    color: var(--color-accent-b);
    filter: var(--drop-shadow-a);
  }

  @media (width <= 640px) {
    font-size: 16px;
  }
}

.header__burger {
  display: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-text-a);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8px);
    transform-origin: center;
    transition: 0.4s;
  }

  &::after {
    transform: translate(-50%, 5px);
  }

  &.header__burger_opened {
    &::before {
      transform: translateX(-50%) rotate(-45deg);
    }
    &::after {
      transform: translateX(-50%) rotate(45deg);
    }
  }

  @media (width <= 640px) {
    display: block;
  }
}

/* block 'section' */

.section {
  --prefer-sides-padding: calc(24px * var(--multiplier-4));
  font-size: calc(1rem * var(--multiplier-1_5));

  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding:
    calc(var(--header-height) + 16px)
    clamp(24px, var(--prefer-sides-padding), 96px);
  margin: auto;
  display: flex;
  flex-direction: column;

  /* & h1,
  & h2 {
    margin-bottom: .5em;
    line-height: 1.2;
  } */

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__title {
  margin-bottom: var(--prefer-sides-padding);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
  text-wrap-style: pretty;
}

/* section 'cover' */

.section_name_cover {
  display: grid;
  grid-template-columns: 15em auto;

  & .section__title {
    align-self: flex-end;
    font-size: 2.5em;
  }

  & p {
    font-size: 1.5em;
    grid-column: 1;
    line-height: 1.2;
  }
}

.section_name_about {
  & div {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &:nth-of-type(2n) {
      flex-wrap: wrap-reverse;
      --margin-auto-left: 0 0 0 auto;
      --margin-auto-right: 0 auto 0 0;
      --order-second: 2;
      --rotate-left: -3deg;
      --rotate-right: 3deg;
    }

    & p {
      flex: 1;
      margin: var(--margin-auto-left, 0 auto 0 0);
      margin-top: var(--prefer-sides-padding);
      padding: 1.5em;
      order: var(--order-second, none);
      min-width: calc(18rem* var(--multiplier-2));;
      max-width: calc(100% / var(--multiplier-2));
      border: .2rem solid currentColor;
      border-radius: 1.5em;
      rotate: var(--rotate-left, 3deg);
      z-index: 1;
    }

    & img {
      flex: 1;
      margin: var(--margin-auto-right, 0 0 0 auto);
      margin-bottom: var(--prefer-sides-padding);
      width: 100%;
      min-width: calc(18rem* var(--multiplier-2));
      max-width: calc(100% / var(--multiplier-2));
      height: fit-content;
      aspect-ratio: 2 / calc(2 / var(--multiplier-2));
      background-color: #111;
      border-radius: 1.5em;
      rotate: var(--rotate-right, -3deg);
      z-index: 2;
      align-self: flex-start;
      object-fit: cover;
    }

    &:not(:last-of-type) {
      margin-bottom: 10em;
    }

    & svg {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      color: #111;
    }
  }
}

.section_name_courses {
  & h2 {
    margin-bottom: var(--prefer-sides-padding);
  }

  & ul.grid-column-limiter {
    --grid-column-count: 2;
    --grid-column-min-width: 17rem;
    --grid-column-gap: var(--prefer-sides-padding);

    & div {
      width: 100%;
      height: fit-content;
      aspect-ratio: 2 / 1;
      border: 1px solid #fff;
    }
  }
}

.accordion {
  --_gap: 1.5em;

  display: flex;
  flex-direction: column;
}

.accordion__title {
  padding: var(--_gap) 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: currentColor;
  font-weight: 600;
  transition:
    opacity .2s linear,
    padding .2s linear;

  &::before {
    content: '';
    position: absolute;
    inset: auto 0 0;
    height: 1px;
    background-color: currentColor;
    transition:
      inset .2s linear,
      background-color .2s linear;
  }

  &::after {
    content: '';
    display: inline-block;
    width: .5em;
    height: .5em;
    border-top: .15em solid #fff;
    border-right: .15em solid #fff;
    rotate: 45deg;
    transition: rotate .2s linear;
  }

  & input {
    display: none;
  }

  &:has(input:checked) {
    padding: var(--_gap);

    & + .accordion__content {
      display: block;
    }

    &::before {
      background-color: transparent;
      inset: auto var(--_gap) 0;
    }

    &::after {
      rotate: 135deg;
    }
  }

  &:hover {
    opacity: .6;
  }
}

.accordion__content {
  display: none;
  padding: var(--_gap);
  background-color: #111;
  border-radius: var(--_gap);
  z-index: 1;
}

.section_name_teachers {
  & h2 {
    margin-bottom: var(--prefer-sides-padding);
  }

  & .grid-column-limiter {
    --grid-column-count: 4;
    --grid-column-min-width: 17em;
    --grid-column-gap: var(--prefer-sides-padding);
  }
}

.teacher-card {
  --_gap: 1.5em;
  --avatar-width: 14rem;
  --text-width: 14em;

  margin: 0 auto;
  padding: var(--_gap);
  width: 100%;
  max-width: calc(var(--_gap) * 3 + var(--avatar-width) + var(--text-width));
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  gap: var(--_gap);
  background-color: #111;
  border-radius: var(--_gap);
}

.teacher-card__avatar {
  width: var(--avatar-width);
  margin-top: -3em;
  aspect-ratio: 1 / 1.3;
  object-fit: contain;
  mask-image: linear-gradient(to bottom, #111 80%, transparent 100%);
}

.teacher-card__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--text-width);
}

.teacher-card__name {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.teacher-card__role {
  text-align: center;

  &::before {
    content: '-';
    display: block;
  }
}

.section_name_feedbacks {
  container: feedbacks / inline-size;

  & article {
    display: flex;
    flex-wrap: wrap-reverse;
    /* align-items: center; */
    justify-content: center;
    gap: 1.5em;
    margin-top: 1.5em;
    padding: 1.5em;
    border-radius: 1.5em;
    background-color: #111;


    & p {
      flex: 1;
      min-width: 50%;
    }

    & img {
      width: 100%;
      aspect-ratio: 1 / calc(1 * var(--multiplier-1_5));
      background-color: #111;
      border-radius: 1.5em;
    }

    & footer {
      max-width: 14em;
      margin-top: -3em;

      & address {
        text-align: center;
      }
    }
  }
}
